.slideCity {
  overflow: hidden;
  position: relative;
}

.slideCity .slick-track {
  display: flex;
}


.slideCity .slick-list .slick-track .slick-slide  {
  width: 30%;
}


.slick-slider .slick-dots  {
  display: flex !important;
}